@use "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$Family;
}

body {
  background-color: variables.$Light_gray;
}

section {
  margin: 0 auto;
  width: 25%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}